.container-fluid-1{
  background-image: url("img/space.jpg");
  background-size: cover;
}

.round {
  width: 629px;
  height: 600px;
}


td, th {
  color: white;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: white;
}

h4 {
  color: indigo;
}

.picture {
  height: 700px;
  width: 700px;
}

h1,h2 {
  color: #ffef47;
  text-align: center;
}

.card {
  padding-left: 100px;
  padding-right: 100px;
}

li:hover {
  background-color: indigo;
}
